---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import BaseMetaHead from "../components/BaseMetaHead.astro";
import ContactForm from '../components/ContactForm.astro'
---
<html lang="de">
<head>
    <title>Paperless Work | Beratung</title>
    <BaseMetaHead />
</head>
<body>
    <Navbar />
    <section class="h-screen relative">
        <img src="/assets/blob-scene-blue-light.svg" class="absolute bottom-0 left-0 w-full object-cover" />
        <div class="h-full w-full relative">
            <div class="h-full w-full p-10 container mx-auto space-y-4 flex flex-col justify-center items-start">
                <h1 class="text-4xl md:text-8xl font-bold use-hyphens text-gray-800"><span class="text-blue-900">Beratung</span> für Schüler*innen mit <span class="text-blue-900">Sehbehinderung</span> im Lernalltag</h1>
                <p class="md:text-2xl text-gray-800">Ich berate Schüler*innen mit Sehbehinderung, Eltern oder Förderlehrer aus erster Hand um das lernen trotz herausforderung einfacher zu machen.</p>
            </div>
        </div>
    </section>
    <section class="relative overflow-hidden">
        <img src="/assets/wave-gray-light.svg" class="absolute bottom-0 left-0 right-0 w-full object-contain" />
        <div class="relative container mx-auto py-20">
            <h2 class="text-blue-800 font-bold text-6xl">Über mich:</h2>
            <div class="grid auto-cols-2 grid-flow-col gap-4 mt-4">
                <div>
                    <p>
                        Mein Name ist Pascal Oberbeck. Mit drei Jahren erkannte ich an Krebs und habe seit dem auf dem rechten Auge ein Visus von 0,0 und einen Visus von 0,04 auf dem linken Auge. Somit habe ich eine hochgradige Sehbehinderung. <br />
                        Dennoch habe ich immer nur Regelschulen besucht. In der Grundschule arbeitete ich noch viel mit Großkopien und einer Tafelkamera. Ab der Mittelstufe arbeitete ich mit dem iPad der 1. Generation. Jenes ersetzte nach und nach die Großkopien und ich begann mehr und mehr digital zu arbeiten. <br />
                        Ab der Oberstufe arbeitete ich nur noch mit einem iPad Pro und einem MacBook inklusive mobiler Tafelkamera. So war ich für den dynamischen Unterricht in der Oberstufe gut gerüstet. Neben der Tatsachen, dass ich durch iPad und Macbook maximal mobil war, brauchten sich Lehrer keine Gedanken mehr über Digitalisierung oder Aufbereitung des Unterrichtsmaterials zu machen. Jeden dieser Schritte konnte ich selbständig und in angemessener Zeit selbständig mit Hilfe meiner konventionellen digitalen Hilfsmittel durchführen. <br />
                        Ich habe also an der eigenen Haut erfahren, was es bedeutet sich in der Schule trotz Sehbehinderung selbständig zu machen. Ich war nicht mehr auf die massiver Unterstützung von anderen angewiesen.
                        So habe habe ich mir viele Gedanken über den Arbeitsablauf gemacht und möchte diesen sehr gerne an jeden weiter geben. Egal ob als inspiration oder fertige Lösung. 
                    </p>
                </div>
                
                <div class="space-y-8 flex flex-col justify-center items-center">
                    <img class="w-1/3 rounded-xl shadow" src="/assets/POberbeck.png" alt="P Oberbeck">
                    <img class="h-20 rounded-xl" src="/assets/AppleTeacher_white.png" alt="Apple Teacher Badge">
                </div>
            </div>
        </div>
    </section>
    <ContactForm />
    <Footer />
</body>
</html>
