---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import BaseMetaHead from "../components/BaseMetaHead.astro";
import ContactForm from '../components/ContactForm.astro'
---
<html lang="de">
<head>
    <title>Paperless Work | Beratung</title>
    <BaseMetaHead />
</head>
<body>
    <Navbar />
    <section class="h-screen relative">
        <img src="/assets/blob-scene-blue-light.svg" class="absolute top-0 left-0 h-full w-full object-cover" />
        <div class="h-full w-full relative">
            <div class="h-full w-full p-10 container mx-auto space-y-4 flex flex-col justify-center items-start">
                <h1 class="text-4xl md:text-8xl font-bold use-hyphens text-gray-800"><span class="text-blue-900">Beratung</span> für Schüler*innen mit <span class="text-blue-900">Sehbehinderung</span> im Lernalltag</h1>
                <p class="md:text-2xl text-gray-800">Ich berate Schüler*innen mit Sehbehinderung, Eltern oder Förderlehrer aus erster Hand um das lernen trotz herausforderung einfacher zu machen.</p>
            </div>
        </div>
    </section>
    <ContactForm />
    <Footer />
</body>
</html>
