---
import Navbar from "../components/Navbar.astro";
import SectionFooter from "../components/SectionFooter.tsx";
import SectionHeading from "../components/SectionHeading.tsx";
import Footer from "../components/Footer.astro";
import BaseMetaHead from "../components/BaseMetaHead.astro";
---
<html lang="de">
<head>
    <title>Paperless Work | Freelancer</title>
     <BaseMetaHead />
</head>
<body>
    <Navbar />
    <section class='h-screen flex items-center justify-center bg-gradient-to-t dark:from-gray-800 dark:to-gray-900 dark:text-gray-50'>
        <div class='p-10'>
            <h1 class='text-4xl md:text-6xl xl:text-8xl tracking-wider'>
                Hi, I'm{' '}
                <span class='font-bold'>
                   Pascal Oberbeck,
                </span>{' '}
                digital <span class='font-bold'>Freelancer.</span>
            </h1>
            <p class='text-xl md:text-2xl'>
                Software Developer from <span class='font-bold'>Germany</span>
            </p>
        </div>
    </section>
    <div class="flex justify-center items-center dark:bg-gray-900">
        <h1 class="p-5 m-5 shadow-md rounded-full text-3xl md:text-6xl font-bold bg-gray-100">Meine Arbeit</h1>
    </div>
    <section class='py-10 md:h-screen flex flex-col justify-center items-center dark:from-gray-800 dark:to-gray-900 dark:text-gray-50 bg-gradient-to-b'>
        <SectionHeading title='Coder Connect' subTitle='Desktop' />
        <img loading="lazy" class='md:h-4/6 object-contain' src='https://res.cloudinary.com/dxguylhpx/image/upload/v1617486729/web/1_vgunfm.png' alt='Coder Connect' />
        <SectionFooter title='Coder Connect' content='Coder Connect ist ein Desktop Client für Code Server. Programmiert mit Electron, HTML und JavaScript.' date='Since 2018' />
    </section>
    <section class='py-10 md:h-screen flex flex-col justify-center items-center dark:to-gray-900 dark:text-gray-50 bg-gradient-to-t dark:from-gray-800'>
        <SectionHeading title='Pull Up' subTitle='Mobile' />
        <img loading="lazy" class='md:h-4/6 object-contain' src='https://res.cloudinary.com/dxguylhpx/image/upload/v1617486734/web/2_si7l99.png' alt='Pull Up' />
        <SectionFooter title='Pull Up' content='Pull Up ist ein Blogging Client für iOS und Android. Programmiert mit React Native und Firebase.' date='Since 2019' />
    </section>
    <section class='py-10 md:h-screen flex flex-col justify-center items-center dark:to-gray-900 dark:text-gray-50 bg-gradient-to-b dark:from-gray-800'>
        <SectionHeading title='Paperless Work' subTitle='Website' />
        <img loading="lazy" class='md:h-4/6 object-contain' src='https://res.cloudinary.com/dxguylhpx/image/upload/v1617486732/web/6_t9tcu7.png' alt='Pull Up' />
        <SectionFooter
            title='Paperless Work'
            content='Diese Webseite ist das erste größere Projekt erstellt mit Next JS. Es handelt sich dabei um meinen persönliche Showcase Webseite mit serverless Kontaktformular und zeitgemäßer optimierung.'
            date='Since 2020'
        />
    </section>
    <Footer />
</body>
</html>
