---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import BaseMetaHead from "../components/BaseMetaHead.astro";
import SiteSelector from "../components/SiteSelector.tsx";
---
<html lang="de">
<head>
    <title>Paperless Work</title>
    <BaseMetaHead />
</head>
<body>
    <Navbar />
    <SiteSelector client:load />
    <Footer />
</body>
</html>
