
<div class='p-8 bg-white dark:bg-gray-900 text-gray-500 space-x-3 flex justify-center items-center'>
	<a href='/'>
		<p>Home</p>
	</a>
	<a href='/legal'>
		<p>Impressum</p>
	</a>
	<a href='/privacy'>
		<p>Datenschutz</p>
	</a>
</div>

